{% extends 'base.html' %}
{% block title %} create Food {% endblock %}
{% block content %}
<div class="content">
<h1>Merenda<span>Escolar</span></h1>
</div>
<div class="content" >
    <div class="form-content">
        <form action="store/" method="POST">
          {% csrf_token %}
            <div class="mb-3">
              <input type="text" required name='name' placeholder="Alimento" width="50px" class="form-control" >
            </div>
            <div class="mb-3">
            <input type="date" required  name="validity"class="form-control" >
            </div>
            <div class="mb-3">
              <input type="number" name="quantity" placeholder="Quantidade" class="form-control" >
            </div>
            <div class="mb-3">
              <input type="number" name="weight" placeholder="peso em gramas" class="form-control" >
            </div>
            <div class="mb-3">
              <input class="form-control" list="datalistOptions" id="exampleDataList" name="category" placeholder="categoria">
              <datalist id="datalistOptions">
                {% for category in categorys %}
                <option>{{category.name}}</option>
                {% endfor %}
              </datalist>
          </div>
            <hr>
            <div class="content">
              <button type="submit" id="btn" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
</div>

{% endblock %}