{% extends 'base.html' %}
{% block title %} About project {% endblock %}
{% block content %}
    <div class="content">
    <h1>Controller<span>FoodSchool-JP</span></h1>
    </div>
    <div class="text">
        <p>Este projeto visa uma melhoria na coordenação de controle de estoque da merenda das Escolas Municipais
            de José da Penha/RN. Por muito tempo venho notando o quanto é preciso modernizar a forma de como organiza-se 
            as quantidades de alimentos que são destinados a merenda escolar. 
        </p>
        <p>Um projeto feito em Django utilizando Python.</p>
    </div>


{% endblock %}