{% extends 'baseSchools.html' %}
{% block title %} edite schools {% endblock %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="row">
          <div class="col-9"><h1>ESCOLA: {{school.name}}</h1></div>
          <div class="col-4"><h3>DIRETOR(a): {{school.diretor.name}}</h3></div>
          <div class="col-6"><h5>E-MAIL: {{school.email}}</h5></div>
        </div>
      </div>
</div>
<br>
<hr>
<div class="content">
  <h1> {{school.name}}</h1>
</div>
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Validade</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      {% for food in foods %}
      <tr>
        <td>{{food.name}}</td>
        <td>{{food.validity}}</td>
        <td>{{food.category}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
 
</div>
<hr>
<div class="content"><h1>Registrar os Alimentos </h1></div>
<div class="content">
  <div class="col-6">
    <br>
  <form action="/schools/foodsearchs/{{school.id}}" method='GET' class="d-flex">
    <input class="form-control me-2" name='name'type="search" placeholder="Pesquise pelo nome do Alimento" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <br>
  </div>
</div>

  
    
    <div class="row row-cols-1 row-cols-md-3 g-6">
      {% for food in foodSearch %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><strong>NOME:</strong> {{food.name}}</h5>
            <p class="card-text"><strong>CATEGORIA: </strong> {{food.category}}</p>
            <p class="card-text"><strong>VALIDADE: </strong>{{food.validity}}</p>
            <p class="card-text"><strong>QUANTIDADE: </strong>{{food.quantity}}</p>
          </div>
          <div class="card-footer">
            {% if food.quantity > 0 %}
            <form action="/schools/register/{{food.id}}/{{school.id}}" class="row g-3">
              <div class="col-auto">
                <label for="staticEmail2" class="visually-hidden"></label>
                <input type="number"  name="quantity" class="form-control-plaintext" id="staticEmail2" placeholder="quantidade">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-dark mb-3">Enviar</button>
              </div>
            </form>
          {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
   
  



{% endblock %}